<div id="profile-wrapper">
	<div class="profile-view">
		<% if current_user.avatar.exists? %>
		<%= image_tag(current_user.avatar.url(:medium)) %>
		<% end %>
		<ul class="list-group">
			<li class="list-group-item">First Name: <%= current_user.first_name %></li>
			<li class="list-group-item">Last Name: <%= @current_user.last_name %></li>
			<% if @current_profile.bio %>
			<li class="list-group-item">Biography: <%= @current_profile.bio %></li>
			<% end %>
			<li class="list-group-item">Email: <%= @current_user.email %></li>
			<li class="list-group-item">Birthday: <%= @current_profile.birthday %></li>
			<li class="list-group-item">Gender: <%= @current_profile.gender %></li>
		</ul>
			<p>
				<%= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-lg btn-primary", role: "button" %>
			</p>
		</div>
	</div>