	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h1> <%= current_user.first_name %> <%= current_user.last_name %></h1>
			</div>
		</div>
	</div>
<div class="profile-page">
	<div class="row">
		<div class="col-md-3">
			<% if current_user.avatar.exists? %>
			<%= image_tag (current_user.avatar.url(:medium)), class: "profile-picture" %>
			<% end %>
			<br>
			<br>
			<p>
				<%= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-lg btn-primary", role: "button" %>
			</p>
		</div>
		<div class="col-md-6">
			<ul class="list-group">
				<li class="list-group-item"><span class="pretext">First Name:</span><span class="posttext"> <%= @current_user.first_name %></span></li>
				<li class="list-group-item"><span class="pretext">Last Name:</span><span class="posttext"> <%= @current_user.last_name %></span></li>
				<% if @current_profile.bio %>
				<li class="list-group-item"><span class="pretext">Biography:</span><span class="posttext"> <%= @current_profile.bio %></span></li>
				<% end %>
				<li class="list-group-item"><span class="pretext">Email: </span><span class="posttext"> <%= @current_user.email %></span></li>
				<li class="list-group-item"><span class="pretext">Birthday:</span><span class="posttext"> <%= @current_profile.birthday %></span></li>
				<li class="list-group-item"><span class="pretext">Gender:</span><span class="posttext"> <%= @current_profile.gender %></span></li>
			</ul>
		</div>
		<div class="col-md-3">
		</div>
	</div>
	</div>
</div>
