<div id="profile-wrapper">
	
	<h1>Edit</h1>

	<%= form_for @current_user do |f| %>

	<div class="field">
		<%= f.label :first_name %><br />
		<%= f.text_field :first_name, autofocus: true %>
	</div>

	<div class="field">
		<%= f.label :last_name %><br />
		<%= f.text_field :last_name, autofocus: true %>
	</div>

	<%= f.fields_for :profile do |p| %>
	<div class="field">
		<%= p.label :birthday %><br />
		<%= p.date_select :birthday, :start_year => Date.current.year, :end_year => 1920 %>
	</div>

	<div class="field">
		<%= p.radio_button :gender, 'Male' %>
		<%= p.label :gender, 'Male' %>
		<%= p.radio_button :gender, 'Female' %>
		<%= p.label :gender, 'Female' %><br />
	</div>

	<% end %>

	<div class="field">
		<%= f.label :email %><br />
		<%= f.email_field :email, autofocus: true %>
	</div>

	<%= f.submit :update %>
	<% end %>

	<%= link_to "Delete Account", @current_user, :method => :delete, data: { confirm: "Are you sure you want to delete this account?"} %>

</div>