<h1>Heat Map</h1>

<div id="floating-panel">
	<button onclick="toggleHeatmap()">Toggle Heatmap</button>
	<button onclick="changeGradient()">Change gradient</button>
	<button onclick="changeRadius()">Change radius</button>
	<button onclick="changeOpacity()">Change opacity</button>
</div>

<div id="map"></div>

<div class="new_search">

  <%= form_tag "/welcome", method: :post do %>
    <%= label_tag :search_term %><br>
    <%= text_field_tag :term %><br>
    <%= label_tag :search_radius %><br>
    <%= select_tag(:radius_filter, options_for_select([["1 mile", 1600], ["2 miles", 3200], ["3 miles", 4800]], 3)) %><br>
    <br>
    <%= submit_tag "Submit" %>
  <% end %>

</div>

<br>
<h1>
  Showing
<%= @counter %>
results for 
<b><%= @term %></b>
!
</h1>
<br>

<% for c in 0...@city_values.length %>
    <% @stores = @city_values[c].businesses %>

    <% @stores.each do |store| %>
       <%= store.name %> - <%= store.location.address %> - <%= store.review_count %> Reviews - Rating: <%= store.rating %>
       <hr>
    <% end %>
<% end %>

<div class="clear"></div>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6hTqHpd-nsaBba0xGPbr7-YMIr4ld6kE&signed_in=true&libraries=visualization&callback=initMap">
</script>