<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>StarHopper</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,100' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Wire+One|Signika' rel='stylesheet' type='text/css'>

	<link rel="icon" href="../../favicon.ico">
</head>
<!-- NAVBAR
	================================================== -->
	<body>
		<div class="navbar-wrapper">
			<div class="container">
				<nav class="navbar navbar-inverse navbar-fixed-top">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<!-- STAR ICON -->
							<a class="navbar-brand" href="/"><img class="nav-star" src="/assets/blue_star.png"></a>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<!-- HOME / CONTACT / MAP LINKS -->
							<ul class="nav navbar-nav">
								<li class="active"><%= link_to "Home", root_path %><span class="sr-only">(current)</span></a></li>
								<li><%= link_to "Contact", contact_path %></li>
								<% if user_signed_in? %>
								<li><%= link_to "Map", map_path %></li>
								<% end %>
							</ul>
							<!-- NAVBAR DROPDOWN -->
							<div id="navbar" class="navbar-collapse collapse">
								<ul class="nav navbar-nav navbar-right">
									<!-- ACCOUNT DROPDOWN IF USER SIGNED IN -->
									<% if user_signed_in? %>

									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li role="separator" class="divider"></li>
											<li class="dropdown-header">My Account</li>
											<li><%= link_to "Profile", (profile_path current_user) %></li>
											<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
										</ul>
									</li>
									<% if current_user.avatar.exists? %>
									<li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
									<% end %>
									<!-- REGISTER / LOG IN LINK IF NO USER SIGNED IN -->
									<% else %>
									<li><%= link_to "Register", new_user_registration_path %></li>
									<li><%= link_to "Log In", new_user_session_path %></li>
									<% end %>
								</ul>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>

		<!-- FLASH NOTICE DISPLAY -->
		<% if flash[:notice] %>
		<div class="alert alert-success"><%= flash[:notice] %></div>
		<% end %>
		<% if flash[:alert] %>
		<div class="alert alert-warning"><%= flash[:alert] %></div>
		<% end %>

		<%= yield %>

	</body>

	</html>
